@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+US+Modern:wght@100..400&display=swap');
body{
    font-family: 'Playwrite US Modern',sans-serif;
    background-color: #f7ede2;  
}

footer{
    display: flex;
    align-items:end;
    height: 100vh;
    justify-content: center;
    >p{
        font-size: 1rem;
    }
}

.container{
    height: 100vh;
    width: 100%;
    >.main-heading{
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    >.secondary-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 60vh;
        width: 100%;
        >.Info-box{
            padding: 10px;
            text-align: center;
            width: 88%;
            font-weight: 800;
            font-size: 1rem;
        }
        >.fields{
            /* border: 1px solid blue; */
            display: flex;
            align-items:center;
            justify-content:space-around;
            gap: 20px;
            >button{
                font-size: 1rem;
                background-color: #f1f1f1;
                cursor: pointer;
                border-radius: 10px;
                height: 55px;
                background-color: rgb(198, 237, 233);
                /* width:fit-content; */
                width: 100px;
            }
        
        }
        >.output-1{
            >.collect{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                >p{
                    padding: 10px;
                }
                >button{
                        font-size: 1rem;
                        background-color: #f1f1f1;
                        cursor: pointer;
                        border-radius: 10px;
                        height: 55px;
                        background-color: rgb(198, 237, 233);
                        width: 80px;
                }
            }
            >.link{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                >p{
                    padding: 10px;
                    text-align: center;
                    >h4{
                        font-weight: 600;
                    }
                }
                >button{
                    font-size: 1rem;
                    background-color: #f1f1f1;
                    cursor: pointer;
                    border-radius: 10px;
                    height: 55px;
                    background-color: rgb(198, 237, 233);
                    width: 80px;
            }
            }   
        }
    }
    >h2{
        font-size: 3.5rem;
        padding:10px;
    }
}

.Analytics{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    >.Analytics-box{
        >h2{
            font-size: 2rem;
            padding: 10px;
            text-align: center;
        }
        >.search-box{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            >button{
                font-size: 1rem;
                background-color: #f1f1f1;
                cursor: pointer;
                border-radius: 10px;
                height: 55px;
                background-color: rgb(198, 237, 233);
                /* width:fit-content; */
                width: 100px;
            }
        }

    }

}
.Whole{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



@media screen and (max-width: 510px){
    .container{
        flex-direction: column;
        >h2{
            font-size: 2.5rem;
        }
        >.main-heading{
            font-size: 3rem;
        }
        >.secondary-heading{
            height: 100vh;
            >.Info-box{
                font-size: 1rem;
            }
            >.fields{
                flex-direction: column;
                gap: 20px;
                >button{
                    width:50%;
                }
            }
            >.output-1{
                >.collect{
                    flex-direction: column;
                    gap: 20px;
                    >button{
                        width: 50%;
                    }
                }
                >.link{
                    flex-direction: column;
                    gap: 20px;
                    >button{
                        width: 50%;
                    }
                }
            }
        }

    }
    .Analytics-box{
        margin-top: 60px;
        padding-right: 22px;
        >h2{
            font-size: 1.5rem;
            padding: 5px;
            text-align: center;
        }
        >.search-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            >button{
                font-size: 1rem;
                background-color: #f1f1f1;
                cursor: pointer;
                border-radius: 10px;
                height: 55px;
                background-color: rgb(198, 237, 233);
                width: 100px;
            }
        }

    }
    
}